* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}
